In [2]:
import pandas as pd 
orders=pd.read_table('http://bit.ly/movieusers')
print("Overview of dataframe:")
print(orders.head())
print("Shape:",orders.shape)
print()
user_cols=['user_id','age','gender','occupation','zip_code']
users=pd.read_table('http://bit.ly/movieusers',sep='|',header=None,names=user_cols)
print("Dataframe after modifying the result parameter values for read_table:")
print(users.head())

Overview of dataframe:
   1|24|M|technician|85711
0       2|53|F|other|94043
1      3|23|M|writer|32067
2  4|24|M|technician|43537
3       5|33|F|other|15213
4   6|42|M|executive|98101
Shape: (942, 1)

Dataframe after modifying the result parameter values for read_table:
   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [5]:
import pandas as pd 
ufo=pd.read_csv('http://bit.ly/uforeports')
print("Overview of UFO  data reports:")
print(ufo.head())
print()
print("Cityseries(sorted):")
print(ufo.City.sort_values())
print()
ufo['Location']=ufo.City+','+ufo.State
print("After creating a new 'Location' series:")
print(ufo.head())
print()
print("Column names of ufo dataframe:",ufo.columns)
print()
ufo.rename(columns ={'Colors Reported':' Colors_Reported':','Shape Reported':'Shape_Reported'},inplace=True)
print("Column name of ufo dataframe after renamng two column names:",ufo.columns)
print()
ufo.drop(['city','state'],axis=1,inplace=True)
print("column name of ufo dataframe after removing two columns(city,state):",ufo.columns)
print()
ufo.drop(['0','1'],axis=0,inplace=True)
print("ufo dataframe after deleting first two rows:")
print(ufo.head)

SyntaxError: unterminated string literal (detected at line 15) (542809094.py, line 15)

In [4]:
import pandas as pd
ufo = pd.read_csv('http://bit.ly/uforeports')
print("Overview of UFO data reports:")
print(ufo.head())
print()
print("City series (sorted):")
print(ufo.City.sort_values())
print()

ufo['Location'] = ufo.City + ',' + ufo.State
print("After creating a new 'Location' series:")
print(ufo.head())
print()

print("Column names of ufo dataframe:", ufo.columns)
print()

ufo.rename(columns={'Colors Reported': 'Colors_Reported', 'Shape Reported': 'Shape_Reported'}, inplace=True)
print("Column name of ufo dataframe after renaming two column names:", ufo.columns)
print()

ufo.drop(['city', 'state'], axis=1, inplace=True)
print("Column name of ufo dataframe after removing two columns (city, state):", ufo.columns)
print()

ufo.drop([0, 1], axis=0, inplace=True)
print("ufo dataframe after deleting first two rows:")
print(ufo.head())

Overview of UFO data reports:
                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

City series (sorted):
1761     Abbeville
17809     Aberdeen
2297      Aberdeen
9404      Aberdeen
389       Aberdeen
           ...
12441          NaN
15767          NaN
15812          NaN
16054          NaN
16608          NaN
Name: City, Length: 18241, dtype: object

After creating a new 'Location' series:
                   City Colors Reported Shape Reported State             Time  \
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

                  Location
0                Ithaca,NY
1           Willingboro,NJ
2               Holyoke,CO
3               Abilene,KS
4  New York Worlds Fair,NY

Column names of ufo dataframe: Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time',
       'Location'],
      dtype='object')

Column name of ufo dataframe after renaming two column names: Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time',
       'Location'],
      dtype='object')

KeyError: "['city', 'state'] not found in axis"

In [2]:
import pandas as pd
movies=pd.read_csv('https://bit.ly/imdbratings')
print("Dataframe of top-rated IMDb movies:")
print(movies.head())
print()
print("Different ways to filter rows of a pandas DataFrame by column value:")
print("Example:Filter rows to only show movies with a duration of atleast 200 minutes")
print("1.using for loop")
booleans=[]
for length in movies.duration:
    if length>=200:
        booleans.append(True)
    else:
        booleans.append(False)
is_long=pd.Series(booleans)
print(is_long.head())
print()
print("2.broadcasting")
print(movies[movies.duration>=200])
print()
print("3.using 'loc' method")
print(movies.loc[movies.duration>=200])

Dataframe of top-rated IMDb movies:
   star_rating                     title content_rating   genre  duration  \
0          9.3  The Shawshank Redemption              R   Crime       142
1          9.2             The Godfather              R   Crime       175
2          9.1    The Godfather: Part II              R   Crime       200
3          9.0           The Dark Knight          PG-13  Action       152
4          8.9              Pulp Fiction              R   Crime       154

                                         actors_list
0  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4  [u'John Travolta', u'Uma Thurman', u'Samuel L....

Different ways to filter rows of a pandas DataFrame by column value:
Example:Filter rows to only show movies with a duration of atleast 200 minutes
1.using for loop
0    False
1    False
2     True
3    False
4    False
dtype: bool

2.broadcasting
     star_rating                                          title  \
2            9.1                         The Godfather: Part II
7            8.9  The Lord of the Rings: The Return of the King
17           8.7                                  Seven Samurai
78           8.4                    Once Upon a Time in America
85           8.4                             Lawrence of Arabia
142          8.3              Lagaan: Once Upon a Time in India
157          8.2                             Gone with the Wind
204          8.1                                        Ben-Hur
445          7.9                           The Ten Commandments
476          7.8                                         Hamlet
630          7.7                                      Malcolm X
767          7.6                It's a Mad, Mad, Mad, Mad World

    content_rating      genre  duration  \
2                R      Crime       200
7            PG-13  Adventure       201
17         UNRATED      Drama       207
78               R      Crime       229
85              PG  Adventure       216
142             PG  Adventure       224
157              G      Drama       238
204              G  Adventure       212
445       APPROVED  Adventure       220
476          PG-13      Drama       242
630          PG-13  Biography       202
767       APPROVED     Action       205

                                           actors_list
2    [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
7    [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
17   [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
78   [u'Robert De Niro', u'James Woods', u'Elizabet...
85   [u"Peter O'Toole", u'Alec Guinness', u'Anthony...
142  [u'Aamir Khan', u'Gracy Singh', u'Rachel Shell...
157  [u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...
204  [u'Charlton Heston', u'Jack Hawkins', u'Stephe...
445  [u'Charlton Heston', u'Yul Brynner', u'Anne Ba...
476  [u'Kenneth Branagh', u'Julie Christie', u'Dere...
630  [u'Denzel Washington', u'Angela Bassett', u'De...
767  [u'Spencer Tracy', u'Milton Berle', u'Ethel Me...

3.using 'loc' method
     star_rating                                          title  \
2            9.1                         The Godfather: Part II
7            8.9  The Lord of the Rings: The Return of the King
17           8.7                                  Seven Samurai
78           8.4                    Once Upon a Time in America
85           8.4                             Lawrence of Arabia
142          8.3              Lagaan: Once Upon a Time in India
157          8.2                             Gone with the Wind
204          8.1                                        Ben-Hur
445          7.9                           The Ten Commandments
476          7.8                                         Hamlet
630          7.7                                      Malcolm X
767          7.6                It's a Mad, Mad, Mad, Mad World

    content_rating      genre  duration  \
2                R      Crime       200
7            PG-13  Adventure       201
17         UNRATED      Drama       207
78               R      Crime       229
85              PG  Adventure       216
142             PG  Adventure       224
157              G      Drama       238
204              G  Adventure       212
445       APPROVED  Adventure       220
476          PG-13      Drama       242
630          PG-13  Biography       202
767       APPROVED     Action       205

                                           actors_list
2    [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
7    [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
17   [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
78   [u'Robert De Niro', u'James Woods', u'Elizabet...
85   [u"Peter O'Toole", u'Alec Guinness', u'Anthony...
142  [u'Aamir Khan', u'Gracy Singh', u'Rachel Shell...
157  [u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...
204  [u'Charlton Heston', u'Jack Hawkins', u'Stephe...
445  [u'Charlton Heston', u'Yul Brynner', u'Anne Ba...
476  [u'Kenneth Branagh', u'Julie Christie', u'Dere...
630  [u'Denzel Washington', u'Angela Bassett', u'De...
767  [u'Spencer Tracy', u'Milton Berle', u'Ethel Me...

In [6]:

import pandas as pd
orders=pd.read_table('http://bit.ly/chiporders')
print("Dataframe:")
print(orders.head())
print()
print("String methods in pandas:")
print()
print("'item_name'series(in uppercase):")
print(orders.item_name.str.upper().head())
print()
print("Checks for a substring 'Chicken' in the given dataframe:")
print(orders[orders.item_name.str.contains('Chicken')].head())
print()
print(orders.choice_description.str.replace('[\[\]]',).head())
print()
print("Examine the data type of each Series:")
print(orders.dtypes)
print()
print("Dataframe after replacing '$' and converting string to float of 'item_price' series:")
print(orders.item_price.str.replace('$',").astype(float))

<>:14: SyntaxWarning: invalid escape sequence '\['
<>:14: SyntaxWarning: invalid escape sequence '\['
/tmp/ipykernel_2713/2867867592.py:14: SyntaxWarning: invalid escape sequence '\['
  print(orders.choice_description.str.replace('[\[\]]',"").head())

SyntaxError: unterminated string literal (detected at line 20) (2867867592.py, line 20)

In [8]:
import pandas as pd
orders = pd.read_table('http://bit.ly/chiporders')

print("Dataframe:")
print(orders.head())
print()

print("String methods in pandas:")
print()

print("'item_name' series (in uppercase):")
print(orders.item_name.str.upper().head())
print()

print("Checks for a substring 'Chicken' in the given dataframe:")
print(orders[orders.item_name.str.contains('Chicken')].head())
print()

print("Replacing characters in a series:")
print(orders.choice_description.str.replace('[\[\]]', '').head())
print()

print("Examine the data type of each Series:")
print(orders.dtypes)
print()

print("Dataframe after replacing '$' and converting string to float of 'item_price' series:")
orders['item_price'] = orders.item_price.str.replace('$', '').astype(float)

<>:20: SyntaxWarning: invalid escape sequence '\['
<>:20: SyntaxWarning: invalid escape sequence '\['
/tmp/ipykernel_2713/2699461495.py:20: SyntaxWarning: invalid escape sequence '\['
  print(orders.choice_description.str.replace('[\[\]]', '').head())

Dataframe:
   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

String methods in pandas:

'item_name' series (in uppercase):
0             CHIPS AND FRESH TOMATO SALSA
1                                     IZZE
2                         NANTUCKET NECTAR
3    CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                             CHICKEN BOWL
Name: item_name, dtype: object

Checks for a substring 'Chicken' in the given dataframe:
    order_id  quantity             item_name  \
4          2         2          Chicken Bowl
5          3         1          Chicken Bowl
11         6         1  Chicken Crispy Tacos
12         6         1    Chicken Soft Tacos
13         7         1          Chicken Bowl

                                   choice_description item_price
4   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5   [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
11  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
12  [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75
13  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25

Replacing characters in a series:
0                                                  NaN
1                                         [Clementine]
2                                              [Apple]
3                                                  NaN
4    [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
Name: choice_description, dtype: object

Examine the data type of each Series:
order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

Dataframe after replacing '$' and converting string to float of 'item_price' series:

In [9]:
import pandas as pd
# read a dataset of Chipotle orders into a DataFrame
orders = pd.read_table('http://bit.ly/chiporders')
print("Dataframe : ")
print(orders.head())
print()

print("String methods in pandas: ")
print()

print("'item_name' series (in uppercase) : ")
print(orders.item_name.str.upper().head())
print()

print("Checks for a substring 'Chicken' in the given dataframe: ")
print(orders[orders.item_name.str.contains('Chicken')].head())
print()

# many pandas string methods support regular expressions (regex)
print(orders.choice_description.str.replace('[\[\]]', '', regex=True).head())
print()

print("Examine the data type of each Series: ")
print(orders.dtypes)
print()

<>:20: SyntaxWarning: invalid escape sequence '\['
<>:20: SyntaxWarning: invalid escape sequence '\['
/tmp/ipykernel_2713/1481640194.py:20: SyntaxWarning: invalid escape sequence '\['
  print(orders.choice_description.str.replace('[\[\]]', '', regex=True).head())

Dataframe :
   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

String methods in pandas:

'item_name' series (in uppercase) :
0             CHIPS AND FRESH TOMATO SALSA
1                                     IZZE
2                         NANTUCKET NECTAR
3    CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                             CHICKEN BOWL
Name: item_name, dtype: object

Checks for a substring 'Chicken' in the given dataframe:
    order_id  quantity             item_name  \
4          2         2          Chicken Bowl
5          3         1          Chicken Bowl
11         6         1  Chicken Crispy Tacos
12         6         1    Chicken Soft Tacos
13         7         1          Chicken Bowl

                                   choice_description item_price
4   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5   [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
11  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
12  [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75
13  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25

0                                                  NaN
1                                           Clementine
2                                                Apple
3                                                  NaN
4    Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
Name: choice_description, dtype: object

Examine the data type of each Series:
order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [11]:
import pandas as pd

drinks = pd.read_csv('http://bit.ly/drinksbycountry')
print("Dataframe : ")
print(drinks.head())
print()
print("Mean beer servings across the entire dataset:", drinks.beer_servings.mean())
print("Mean beer servings just for countries in Africa:", drinks[drinks.continent == 'Africa'].beer_servings.mean())
print()
print("Aggregate functions used with groupby: ")
print()
print("Mean beer servings for each continent:", drinks.groupby('continent').beer_servings.mean())
print("Maximum beer servings for each continent:", drinks.groupby('continent').beer_servings.max())
print("Multiple aggregation functions can be applied simultaneously: ")
print(drinks.groupby('continent').beer_servings.agg(['count', 'mean', 'min', 'max']))
drinks.groupby('continent').mean()
%matplotlib inline
drinks.groupby('continent').mean().plot(kind='bar')

Dataframe :
       country  beer_servings  spirit_servings  wine_servings  \
0  Afghanistan              0                0              0
1      Albania             89              132             54
2      Algeria             25                0             14
3      Andorra            245              138            312
4       Angola            217               57             45

   total_litres_of_pure_alcohol continent
0                           0.0      Asia
1                           4.9    Europe
2                           0.7    Africa
3                          12.4    Europe
4                           5.9    Africa

Mean beer servings across the entire dataset: 106.16062176165804
Mean beer servings just for countries in Africa: 61.471698113207545

Aggregate functions used with groupby:

Mean beer servings for each continent: continent
Africa            61.471698
Asia              37.045455
Europe           193.777778
North America    145.434783
Oceania           89.687500
South America    175.083333
Name: beer_servings, dtype: float64
Maximum beer servings for each continent: continent
Africa           376
Asia             247
Europe           361
North America    285
Oceania          306
South America    333
Name: beer_servings, dtype: int64
Multiple aggregation functions can be applied simultaneously:
               count        mean  min  max
continent
Africa            53   61.471698    0  376
Asia              44   37.045455    0  247
Europe            45  193.777778    0  361
North America     23  145.434783    1  285
Oceania           16   89.687500    0  306
South America     12  175.083333   93  333

TypeError: agg function failed [how->mean,dtype->object]

In [1]:
import pandas as pd
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
print("Dataframe : ")
print(drinks.head())
print()

print("Mean beer servings across the entire dataset:", drinks.beer_servings.mean())
print()
print("Mean beer servings just for countries in Africa:", drinks[drinks.continent == 'Africa'].beer_servings.mean())
print()

print("Aggregate functions used with groupby: ")
print()

print("Mean beer servings for each continent:", drinks.groupby('continent').beer_servings.mean())
print("Maximum beer servings for each continent:", drinks.groupby('continent').beer_servings.max())
print("Multiple aggregation functions can be applied simultaneously: ")
print(drinks.groupby('continent').beer_servings.agg(['count', 'mean', 'min', 'max']))

# specifying a column to which the aggregation function should be applied is not required
drinks.groupby('continent').mean()

# allow plots to appear in the notebook
%matplotlib inline
# side-by-side bar plot of the DataFrame directly above
drinks.groupby('continent').mean().plot(kind='bar')

Dataframe :
       country  beer_servings  spirit_servings  wine_servings  \
0  Afghanistan              0                0              0
1      Albania             89              132             54
2      Algeria             25                0             14
3      Andorra            245              138            312
4       Angola            217               57             45

   total_litres_of_pure_alcohol continent
0                           0.0      Asia
1                           4.9    Europe
2                           0.7    Africa
3                          12.4    Europe
4                           5.9    Africa

Mean beer servings across the entire dataset: 106.16062176165804

Mean beer servings just for countries in Africa: 61.471698113207545

Aggregate functions used with groupby:

Mean beer servings for each continent: continent
Africa            61.471698
Asia              37.045455
Europe           193.777778
North America    145.434783
Oceania           89.687500
South America    175.083333
Name: beer_servings, dtype: float64
Maximum beer servings for each continent: continent
Africa           376
Asia             247
Europe           361
North America    285
Oceania          306
South America    333
Name: beer_servings, dtype: int64
Multiple aggregation functions can be applied simultaneously:
               count        mean  min  max
continent
Africa            53   61.471698    0  376
Asia              44   37.045455    0  247
Europe            45  193.777778    0  361
North America     23  145.434783    1  285
Oceania           16   89.687500    0  306
South America     12  175.083333   93  333

TypeError: agg function failed [how->mean,dtype->object]